html{
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
}

body{
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0px;
    margin-top: 13.9vh;
}

.grainy{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}

.largeSection{
    height:70vh;
    display:flex;
    align-items: center;
    text-align: center;
    padding: 10vh 20vw;
    background-color: brown;
    justify-content: center;
    flex-wrap:wrap;
}

.mediumSection {
    height:max(30vh,fit-content);
    display:flex;
    text-align: left;
    padding: 10vh 10vw;
    max-width: 80vw;
    background-color: rgb(255, 255, 255);
    background-clip: content-box;
    justify-content: space-between;
    flex-wrap:wrap;
    flex-direction:row;
}

.mediumText{
    width:49%
}

.mediumImage {
    display: flex;
    width:49%;
    background-size: auto;
    align-items: center;
    justify-content: center;
}

.white{
    color:white;
}

@keyframes slideAcross{
    0%{
        background-image: linear-gradient(to right, red , #980000ff, red, #980000ff, red, #980000ff);
        background-position: 0% 0%;
    }
    100%{
        background-position: 50% 0%;
    }
}

@keyframes sillyRotation{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-1deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(0deg);
    }

}

.shinyRed{
    background-size: 450%;
    background-image: linear-gradient(to right, red , #980000ff, red, #980000ff, red, #980000ff);
}
.shinyRed:hover{
    animation: slideAcross 1s linear 0s infinite forwards;
}

.sillyRotate:hover{
    animation: sillyRotation 2s linear 0s infinite forwards;
}

.bold{
    font-weight: bolder;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%
}

.buttons{
    padding:1em;
}



.header{
    width:100%;
    height:10vh;
    background-color:#980000ff;
    display:flex;
    align-content: center;
    justify-content: center;
    align-items:center;
    padding:1em;
}

.footer{
    background-color:#980000ff;
    padding: 1em;
}

button{
    border-radius: 3em;
    padding:1em;
    border: 0px;
    cursor: pointer;
}

button:hover{
    background-color: gray;
}

/* only use these for css debugging */

.redborder{
    border: solid red;
    border-width: 5px;
}

.limeborder{
    border: solid lime;
    border-width: 5px;
}

.blueborder{
    border: solid blue;
    border-width: 5px;
}

/* only use above for css debugging */

.curve{
    position:absolute;
    bottom:0;
    content: "";
    display:block;
    z-index: -2;
    border-radius: 100% 100%;
    width: 100%;
    height: 30%;
    background-color: #980000;
    transform:translate(0%, 50%);
}

.course-holder{
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    min-width: 20em;
    width: min-content;
    margin:1em;
}

.containerWidth{
    width:100%;
}

.course-holder-holder{
    background-color: rgb(240, 240, 240);
    display: flex;
    width:100%;
    padding: 2em 0em;
    margin: 1em 0em;
    overflow: scroll;
}

h1.sectionHeader {
    margin-left: 1em;
}

@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono&display=swap');

.textarea{
    width:45%;
    height:fit-content;
    min-height: 60vh;
    resize: vertical;
    font-family: 'Reddit Mono', monospace;
    font-size: 18px;
    padding:25px;
    border-radius: 25px;
}

.textareaholder{
    display: flex;
    justify-content: space-around;
}

#mdpreviewcontent{
    min-height: 10vh;
    background-color: white;
    width:45%;
    font-size: 18px;
    padding: 0px 25px;
    border-radius: 25px;
}

.authy{
    display: flex;
    flex-direction: column;
}

.authTextArea{
    font-size: 14px;
    padding:15px;
    border-radius: 2em;
    border: solid gray 4px;
}

.authTextArea:focus{
    border: solid black 4px;
    outline-width: 0;
}

.gImg{
    width: 2em;
    height: 2em;
    padding: 0;
    margin: 0;
}

.gButton{
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}