body{
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0px;
    margin-top: 10vh;
}

.largeSection{
    height:70vh;
    display:flex;
    align-items: center;
    text-align: center;
    padding: 10vh 20vw;
    background-color: brown;
    justify-content: center;
    flex-wrap:wrap;
}

.mediumSection{
    height:min(30vh,fit-content);
    display:flex;
    text-align: left;
    padding: 10vh 20vw;
    /* background-color: rgb(255, 255, 255); */
    background-clip: content-box;
    background-color: red;
    justify-content: space-between;
    flex-wrap:wrap;
}

.mediumSection > img {
    width: 100%;
    height: 100%;
}

.white{
    color:white;
}

@keyframes slideAcross{
    0%{
        background-image: linear-gradient(to right, red , #980000ff, red, #980000ff);
        background-position: 0% 0%;
    }
    50%{
        background-position: 50% 0%;
    }
    100%{
        background-position: 0% 0%;
    }
}

.shinyRed{
    background-size: 400%;
    background-image: linear-gradient(to right, red , #980000ff, red, #980000ff);
}
.shinyRed:hover{
    animation: slideAcross 2s linear 0s infinite forwards;
}

.bold{
    font-weight: bolder;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%
}

.buttons{
    padding:1em;
}

.header{
    width:100%;
    height:10vh;
    background-color:#980000ff;
    display:flex;
    align-content: center;
    justify-content: center;
    align-items:center;
    padding:1em;
}

.footer{
    background-color:#980000ff;
    padding: 1em;
}

button{
    border-radius: 3em;
    padding:1em;
    border: 0px;
    cursor: pointer;
}

button:hover{
    background-color: gray;
}

.authy{
    display: flex;
    flex-direction: column;
}