<div class="header sticky">
    <h1 class = "white bold clickhover" onclick="redirectToIndex()">
        The Ruby E-Institute of Dreams
    </h1>
    <div class = "buttons">
        <button tabindex onclick="redirectToLearnPage()">
                Learn
        </button>
        <button tabindex onclick="redirectToDiscussPage()">
            Discuss
        </button>
        <button onclick="redirectToSignIn()" tabindex>
            Profile
        </button>
    </div>
    <!-- TODO: make this work (nuh uh) -->
    <div id="user-profile-image"></div>
    <br><div class = "curve"></div>
</div>