<div class="header sticky">
    <h1 class = "white bold">
        <a href = "./index.html" style="text-decoration: none; color: inherit;" tabindex>
            The Ruby E-Institute of Dreams</a>
    </h1>
    <div class = "buttons">
        <a href = "./learn.html">
            <button tabindex>
                Learn
            </button></a>
        <button tabindex>
            Discuss
        </button>
        <button onclick="redirectToSignIn()" tabindex>
            Log In/Sign Up
        </button>
    </div>
    <!-- TODO: make this work (nuh uh) -->
    <div id="user-profile-image"></div>
    <br><div class = "curve"></div>
</div>